.automation-tool
  font-family: Galien
  margin-bottom: 192px
  padding-top: 40px
  // width: 1366px
  // height: 768px
  position: relative
  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%  
    opacity: .2 
    z-index: -1
    background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%)
  &__wrapper
    display: flex
  &__text-wrapper
    display: flex
    flex-direction: column
    margin-left: 212px
  &__title
    margin-top: 96px
    font-size: 64px
    line-height: 74px
    letter-spacing: 0.04em
    color: #1F3F68
  &__description
    margin-top: 30px
    font-family: Gilroy
    font-size: 16px
    font-weight: normal
    line-height: 26px
    letter-spacing: 0.05em
    color: #1F3F68
    opacity: 0.6
  &__img
    display: block
    width: 111.5%
    margin-top: -5px
    margin-left: -70px