@media (max-width: 1200px)
  .automation-tool
    width: 99.95%
    .nav
      margin: 0 20px
      width: auto
    &__text-wrapper
      margin-left: 112px
      width: 60%
    &__title
      min-width: 480px
      font-size: 60px
    &__img
      margin-top: 40px
      margin-left: -80px
  .help-client
    &__title
      margin-left: 100px
    .help-client__item:nth-child(2)
      margin-left: 60px
    .help-client__item:nth-child(3)
      margin-left: 160px
    .help-client__item:nth-child(4)
      margin-left: 60px
  .beloved-client
    width: 99.95%
  .work-team
    width: 93%
    &__divider
      width: 90%
    &__wrapper
      .button
        margin-top: 140px
        margin-left: 20px

@media (max-width: 992px)
  .automation-tool
    padding-top: 20px
    width: auto
    height: auto
    &__text-wrapper
      margin-left: 112px
      width: 60%
    &__title
      margin-top: 30px
      font-size: 52px
      line-height: 54px
    &__description
      font-size: 14px
      line-height: 22px
    &__img
      margin-top: 40px
      margin-left: -50px
  .help-client
    &__item
      width: auto
      padding: 0 18px
    &__title
      margin-left: 80px
    .help-client__item:nth-child(2),
    .help-client__item:nth-child(3),
    .help-client__item:nth-child(4)
      margin-left: 40px
      margin-right: 32px
  .beloved-client
    .wrapper-title
      padding-left: 80px
      .title
        flex-basis: 36%
    .wrapper-logo
      margin-left: 20px
  .work-team
    &__wrapper
      margin-left: 112px
      .wrapper_title
        width: 60%
    .button
      margin-top: 120px
      margin-left: 10px
  .footer
    margin-left: 112px
    &__about
      margin-left: 60px
    .about__title
      margin-bottom: 26px
    
  @media (max-width: 768px)
    .automation-tool
      padding-top: 20px
      &__text-wrapper
        margin-left: 20px
        .button_boxshadow
          margin-left: 0px
          margin-top: 60px
      &__title
        font-size: 50px
        line-height: 52px
      &__description
        font-size: 13px
        line-height: 22px
      &__img
        margin-top: 120px
        margin-left: -40px     
    .help-client
      &__title
        margin-left: 40px
      .description
        font-size: 14px
      &__item
        width: 90%
        .title
          font-size: 16px
        .main-img
          margin-left: auto
      .help-client__item:nth-child(2)
        margin-left: 0
        padding-right: 0
        margin-right: 0
        .main-img
          margin-left: 0
      .help-client__item:nth-child(3)
        margin-left: 10px
      .help-client__item:nth-child(4)
        margin-left: 0
        margin-right: 0
    .beloved-client
      .wrapper-title
        padding-right: 20px
        .title
          flex-basis: 40%
        .description
          padding-left: 20px
          flex-basis: 60%
      .wrapper-logo
        margin-left: 0
        margin-bottom: 0
        .logo-client
          font-size: 18px
    .work-team
      &__wrapper
        margin-left: 40px
        flex-direction: column
      .button
        margin-top: 50px
        margin-left: 0
    .footer
      margin-left: 40px
      &__about
        margin-left: 20px
      &__follow
        margin-left: 40px

  @media (max-width: 576px)
    .automation-tool
      padding-top: 20px
      margin-bottom: 90px
      .nav
        width: 80%
      &__wrapper
        justify-content: flex-start
        margin: auto
      &__text-wrapper
        width: 95%
        margin: auto
        padding: 0 10px
      &__title
        min-width: 320px
        font-size: 40px
        line-height: 44px
      &__description
        font-size: 12px
        line-height: 18px
      &__img
        display: none
      & .button_boxshadow
        margin-bottom: 90px
    .help-client
      margin: auto
      margin-bottom: 100px
      max-width: 360px
      display: grid 
      grid-auto-rows: 1fr
      grid-template-rows: 0.3fr repeat(3, 1fr)
      gap: 40px 0
      &__item
        width: 340px
        height: 100%
        padding: 0 30px
        .link
          margin-bottom: 20px
      &__title
        margin-left: 10px
        font-size: 32px
        width: 340px
      .help-client__item:nth-child(1)
        margin-left: 0
        grid-area: 1 / 1 / 2 / 2
      .help-client__item:nth-child(2)
        margin: 0
        grid-area: 3 / 1 / 4 / 2
        .main-img
          margin-left: 20px
      .help-client__item:nth-child(3)
        margin: 0
        grid-area: 2 / 1 / 3 / 2
      .help-client__item:nth-child(4)
        margin: 0
        grid-area: 4 / 1 / 5 / 2
    .beloved-client
      width: 360px
      .wrapper-title
        padding: 0
        flex-direction: column
        .title
          padding: 30px 10px 30px 120px
      .wrapper-logo
        margin-top: 30px
        width: 360px
        .logo-client
          width: 50%
        .logo-client:nth-child(odd)
          border-right: 1px solid #FFFFFF
          border-bottom: 1px solid #FFFFFF
        .logo-client:nth-child(even)
          border-bottom: 1px solid #FFFFFF
        .logo-client:nth-child(n+7)
          border-bottom: none
        .logo-client:nth-child(6), .logo-client:nth-child(2) 
          border-right: none
      .work-team
        margin-top: 300px
        &__wrapper
          margin-left: 20px
          margin-bottom: 60px
        .wrapper_title
          margin-top: 50px
          .title
            font-size: 28px
            line-height: 36px
            width: 300px
          .description
            width: 300px
      .footer
        margin-top: 60px
        margin-left: 20px
        &__wrapper
          display: flex
          flex-direction: column
        &__contacts
          height: 200px
          gap: 10px 0px
          .logo__wrapper
            margin-bottom: 0px
        &__about
          margin-top: 20px
          margin-bottom: 50px
          .about__title
            font-size: 26px
            margin-bottom: 10px
          .about__link
            font-size: 20px
            line-height: 30px
        &__follow
          margin-bottom: 10px
          margin-left: 20px
          .follow__title
            font-size: 26px
            margin-bottom: 10px
          .follow__link
            font-size: 20px
            line-height: 30px
        &__copyright
          margin-top: 30px
          padding-bottom: 10px
          text-align: center
    .modal
      width: 80%
      height: 83%
      &__title
        margin-bottom: 20px
        padding-top: 20px
        padding-left: 24px
      .form
        margin: 0 auto
        &__input
          margin-bottom: 20px
        label
          padding-bottom: 6px
        input
          width: 260px
          height: 34px
          padding-left: 20px
        textarea
          padding-left: 20px
          padding-top: 20px
          width: 260px
          height: 120px
          margin-bottom: 10px
        .name-error
          display: none
          position: absolute
          top: 136px
          left: 14px
          font-size: 14px
          color: red
        .email-error
          display: none
          position: absolute
          top: 226px
          left: 14px
          font-size: 14px
          color: red
        .button_big
          margin-top: 0
          width: 260px
          height: 50px
      .btn-close
        top: 12px
        right: 12px
    .popup
      width: 300px
      height: 180px
      &__title  
        font-size: 18px
      .button_big
        width: 180px
        height: 50px
      .btn-close
        top: 12px
        right: 12px

  @media (max-width: 360px)
    .automation-tool
      margin-bottom: 50px
      width: 360px
      .nav
        width: 88%
      &__text-wrapper
        width: 94%
        margin-left: 20px
      &__title
        margin-top: 26px
        font-size: 36px
        line-height: 40px
      &__description
        margin-top: 20px
        font-size: 12px
        line-height: 20px
      .button_boxshadow
        margin-top: 40px
      .modal
        height: 80%