.work-team
  font-family: Gilroy
  position: absolute
  top: 3000px
  left: 0
  width: 1270px
  height: 869px
  background: #316099
  border-radius: 0px 200px 0px 0px
  &__wrapper
    margin-top: 91px
    margin-left: 214px
    margin-bottom: 98px
    display: flex
    .wrapper_title
      width: 600px
      display: flex
      flex-direction: column
      .title
        @extend %title
        width: 320px
        margin-bottom: 32px
      .description
        @extend %description
        width: 460px
    .button-see-lets
      @extend %button-see-lets
      margin-top: 76px
      margin-left: 40px
  &__divider
    width: 1073px
    height: 0px
    opacity: 0.4
    border: 1px solid #FFFFFF